  
#start{
	text-shadow: 5px 5px 5px black;
	font-size: 50px;
}
#logo{
  width: 350px;
  height: 90px;
  padding-top:5px;
  padding-bottom:5px;
}
ul
{
list-style-type:none;
padding-top:50px;
padding-bottom:15px;
}
li
{
display:inline;
}
a:link,a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#000000;
text-align:center;
padding:50px;
text-decoration:none;
text-transform:uppercase;
}
nav {
  background-color: #000000;
}


button1 {
	font-size: 15px;
	}
button2{
	text-align: center;
}
button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}


a {
  color:#000;transition:0.3s;
}

a:hover {
  background:; color:orange;
}

img {
  	width:100%;
	height:auto;
}
h1{
	text-align:center;
	color:#FFFFFF;
}
p{
		color:#FFFFFF;
}
.count
{
    background:gray;

}
section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;
}
section .contentBx{
    position: relative;
    max-width: 600px;
    z-index: 1000;
}
section .contentBx h2{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}
section .contentBx p{
    font-size: 18px;
    color: #fff;
    }
section .contentBx .countdown
    {
        display: flex;
        margin: 20px 0;
    }
section .contentBx .countdown .time{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        margin-right: 20px;
        font-size: 48px;
        min-width: 110px;
        font-weight: 700;
        padding: 10px 5px 15px;
        border-radius: 4px;
        color: red;
    }
section .contentBx .countdown .time span{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
section .contentBx a
{
 position: relative;
 margin-top: 10px;
 display: inline-block;
 background: red;
 color: #fff;
 font-size: 20px;
 letter-spacing: 2px;
 padding: 15px 35px;
 text-decoration: none;
 border-radius: 40px;

}


 .ig {
	    display: table;
	    float: left;
	    width: 20%; 
	    text-align: center;
	    line-height: 27px;
	    color: blue;
}
.ig img {
    width: 420px;
    height: 300px;
	padding:  35px;
}


.intro{
	float:left;
   width:50%
}
.form{
	float:right;
   width:50%
   
}

input{
	padding: 15px;
	margin: 20px;
}
input[type=submit]{
	margin: 20px;
    background:#f44336;
	color:#ffffff;
	border: none;
}
