#start{
	text-shadow: 5px 5px 5px black;
	font-size: 50px;
}
#logo{
  width: 350px;
  height: 90px;
  padding-top:5px;
  padding-bottom:5px;
}
ul
{
list-style-type:none;
padding-top:11px;
padding-bottom:80px;
}
li
{
display:inline;
}
a:link,a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#000000;
text-align:center;
padding:15px;
text-decoration:none;
text-transform:uppercase;
}
nav {
  background-color: #000000;
}

/* Countdown */
body{
  background: url(bg1.png);
  background-attachment: fixed;
  background-blend-mode: lighten;
}
.container {
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  background: url(bg1.png);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h2{
  text-align: center;
  font-size: 10em;
  line-height: 0.7em;
  color: orangered;
  margin-top: -80px;
}

.container h2 span
{
  display: block;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 0.2em;
}
.countdown
{
  display: flex;
  margin-top: 50px;
  }
  .countdown div
  {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: orange;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
  }
.countdown div:before
{
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ff0;
  color: #333;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
}

.countdown #day:before
{
  content: 'Days';
}

.countdown #hour:before
{
  content: 'Hours';
}

.countdown #minute:before
{
  content: 'Minutes';
}

.countdown #second:before
{
  content: 'Seconds';
}










}

/* button2 animat */
button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}


a {
  color:#000;transition:0.3s;
}

a:hover {
  background:; color:orange;
}

img {
  	width:100%;
	height:auto;
}
h1 {
  font-size: 20px;
  color:#FFFFFF;
}



